<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Title</title>
</head>
<body>
Insertar articulo para la Antologia #: <span th:text="${antology.id}">Id</span>
<form action="#" th:action="@{/agregarArticulo/{id}(id=${antology.id})}" th:object="${article}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <input type="submit" value="Agregar Articulo">
</form>

</body>
</html>