<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Anthologies</title>
</head>
<body>

Editar:
#<span th:text="${anthologyToEdit.id}">Id</span>
<form action="#" th:action="@{/editar/{id}(id=${anthologyToEdit.id})}" th:object="${anthologyToEdit}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="desc">Description</label>
    <input type="text" th:field="*{description}" id="desc">
    <label for="created">Date</label>
    <input type="text" th:field="*{created}" id="created">
    <input type="submit" value="Guardar Cambios">
</form>

</body>
</html>